/* body{
    position: relative;
} */
*{
    box-sizing: border-box;
    --primary: #901c1c;
    --secondary: #d3573c;
    --f16: 16px
}

body{
    position: relative;
}

li, ul{
    padding: 0;
}

.faLikeIncrement:hover{
    transform: scale(1.5);
}

.colorCoeur{
    text-decoration: none;
    color: #901C1C;
}

.photographerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFAFA;
    padding: 50px;
    height: 300px;
    margin: 0 100px;
}

.photographerHeader__btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.photographerHeader__id,
.photographerHeader__btn,
.photographerHeader__img{
    width: 30%;
}

.photographerHeader__id h1{
    font-size: 34px;
    color: var(--secondary);
}

.photographerHeader__id p{
    color: #901C1C;
}

.photographerHeader__img{
    display: flex;
    justify-content: flex-end;
}

.photographerHeader__img img{
    object-fit: cover;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.btn {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    min-width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover{
    background-color: var(--secondary);
}

.photographerMedia{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 150px 100px;
}

.photographerMedia__work{
    width: 350px;
    min-width: 350px;
    margin: 35px;
    margin-bottom: 30px;
}

.photographerMedia__comment{
    text-decoration: none;
    color: #901C1C;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.photographerMedia__img{
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
    height: 350px;
}

.photographerMedia__video{
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
    height: 350px;
}

.photographerMedia__img:hover,
.photographerMedia__video:hover{
    transform: scale(1.1);
    transition: all .5s ease;
    box-shadow: 1px 1px 1px 1px grey;
}

.photographerMedia__details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photographerMedia__comment h3{
    font-size: var(--f16);
}

.photographerMedia__details span, .photographerMedia__details i{
    margin-left: 10px;
}

.sorter{
    width: 300px;
    position: absolute;
    margin-top: 10px;
    margin-left: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.sorter__container{

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sorter__selected{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sorter__items{
    margin-top: 1px;
    display: none;
}

.sorter__item{
    margin-top: 1px;
    list-style: none;
}


.sorter__items.active{
    display: block;
}

.fa-angle-down.active{
    transform: rotate(180deg);
}
.modal {
    position: fixed;
    left: 30%;
    top: 20px;
    border-radius: 5px;
    background-color: #DB8876;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: calc(100vw - 60%);
    padding: 35px;
    display: none;
    max-height: 90vh;
    overflow-y: scroll;
}

.modal__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.modal__header img {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.modal__header p,
.modal__header h1 {
    margin: 0;
    font-size: 64px;
    font-weight: normal;
    text-align: left;
    color: black;
}
.modal__comment{
    width: 100%;
}

.modal__message{
    width: 100%;
}

.modal__form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.modal__form label {
    color: #312E2E;
    font-size: 36px;
}

.modal__form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

.modal__form .input {
    font-size: 24px;
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

.modal__submit{
    align-self: center;
}

.modal__name{
    font-size: 64px;
}



.carrousel{
    position: fixed;
    top: 0;

    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    /* opacity: 0;
    z-index: -2; */
}

.carrousel__container{
    position: relative;
    width: 100vw;
    height: 100vh;
}

.carrousel__close{
    position: absolute;
    top: 100px;
    left: calc(90vw - 48px);
    font-size: 48px;
    opacity: 0.4;
    transition: all .5s ease;
}

.carrousel__items{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.carrousel__item{
    margin-top: 50px;
    margin-bottom: 50px;
    height: 70%;
    width: 60%;
    position: absolute;
    top: 10%;
    left: 20vw;
    opacity: 0;
    transition: all .5s ease;
}

.carrousel__video,
.carrousel__img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.carrousel__item.active{
    transition: all .5s ease;
    opacity: 1;
}

.fa-chevron-circle-left{
    position: absolute;
    top: 50%;
    left: 10vw;
    font-size: 48px;
    opacity: 0.4;
    transition: all 0.5s ease;
}

.fa-chevron-circle-right{
    position: absolute;
    top: 50%;
    left: calc(90vw - 48px);
    font-size: 48px;
    opacity: 0.4;
    transition: all 0.5s ease;
}

.carrousel__close:hover,
.fa-chevron-circle-left:hover,
.fa-chevron-circle-right:hover{
    opacity: 1;
    transform: scale(1.1);
}

.likes__container{
    position: fixed;
    bottom: 0;
    right: 50px;
    display: flex;
    justify-content: space-around;
    width: 200px;
    border-radius: 5px;
    background-color: var(--secondary);

}

.firstNameError,
.lastNameError{
    color: red;
}

.hidden{
    opacity: 0;
    transition: all 1s;
    z-index: -1;
}

.opacity{
    opacity: 0.3;
    transition: all 1s;
}

.show{
    opacity: 1;
    transition: all 1s;
    z-index: 1;
}

@media all and (max-width: 1200px){

    .likes__container{
        display: none;
    }
   
    .photographerHeader__btn{
        position: absolute;
        bottom: -50px;
        left: calc(50% - 95px);
    }
}

@media all and (max-width: 900px){
    .photographerHeader{
        margin:0;
    }
    .photographerHeader__img img{
        
        height: 150px;
        width: 150px;

    }
    .sorter{
        margin-left: 0;
    }
    .sorter__container{
        flex-direction: column;
        align-items: center;
    }
}

@media all and (max-width: 400px){
    .photographerHeader{
        padding-left: 5px;
        padding-right: 5px;
    }
}