#contact_modal {
    display: none;
}

.photographer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFAFA;
    padding: 50px;
    height: 300px;
    margin: 0 100px;
}

.photographer-id h2{
    font-size: 34px;
    color: #D3573C;
}

.photographer-id p{
    color: #901C1C;;
}

.photographer-img img{
    object-fit: cover;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.photographer-media{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 200px 100px;
    color: #901C1C;
}

.photographer-section{
    width: 30%;
    margin-bottom: 30px;
}

.photographer-section img{
    object-fit: cover;
    width: 100%;
    height: 350px;
}

.photographer-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photographer-likes span, .photographer-likes i{
    margin-left: 10px;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}