
*{
    box-sizing: border-box;
    --primary: #901c1c;
    --secondary: #d3573c;
    --f16: 16px
}

body {
    position: relative;
    font-family: "Open Sans", sans-serif;
    margin: 0;
}


.header {
   
    width: 90%;
    margin-top: 20px auto 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: var(--primary);
    margin-right: 100px;
    margin-left: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographersSection {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographersSection a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographersSection h2 {  
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 700;
    color: var(--secondary);
    text-align: center;
}

.photographersSection article {
    width: 100%;
    text-decoration: none;
    justify-self: center;
}

.photographersSection__link:hover{
    transform: scale(1.1);
    transition: all .5s ease;
    box-shadow: 1px 1px 1px 1px grey;
    border-radius: 10px;
}

.photographersSection article img {
    object-fit: cover;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 0;
}

.photographersSection__locality{
    display: inline-block;
    height: auto;
    color: var(--primary);
    font-size: var(--f16);
    font-weight: bolder;
    line-height: .1rem;
}

.photographersSection__price {
    font-size: var(--f16);
}

.photographersSection__label{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
}

.photographersSection__tag{
    color: black;
    font-size: var(--f16);
    line-height: .1rem;
}

@media all and (max-width: 1200px){
    .photographersSection {
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width: 768px){
    .photographersSection {
        grid-template-columns:  1fr;
    }

    .header{
        flex-direction: column;
        align-items: flex-start;
    }
}

